<!--
=========================================================
* Soft UI Design System - v1.0.9
=========================================================

* Product Page:  https://www.creative-tim.com/product/soft-ui-design-system 
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{{url_for('static', filename='assets/img/apple-icon.png')}}">
  <link rel="icon" type="image/png" href="{{url_for('static', filename='assets/img/favicon.png')}}">
  <title>
    Edit Job | JobSaathi
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="{{url_for('static', filename='assets/css/nucleo-icons.css')}}" rel="stylesheet" />
  <link href="{{url_for('static', filename='assets/css/nucleo-svg.css')}}" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="{{url_for('static', filename='assets/css/nucleo-svg.css')}}" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="{{url_for('static', filename='assets/css/soft-design-system.css')}}" rel="stylesheet" />
  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
  <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
</head>

<body class="contact-us">
  <!-- Navbar -->
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
  
        <!-- End Navbar -->
      </div>
    </div>
  </div>
  <!-- -------- START HEADER 8 w/ card over right bg image ------- -->
  <header>
    <div class="page-header min-vh-85">
      <div>
        <img class="position-absolute fixed-top ms-auto w-50 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0" src="{{url_for('static', filename='assets/img/curved-images/curved8.jpg')}}" alt="image">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 d-flex justify-content-center flex-column">
            <div class="card d-flex blur justify-content-center p-4 shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
              <div class="text-center">
                <h3 class="text-gradient text-primary">Edit Job Details</h3>
              </div>
              <form action="/edit/job/{{job_details['job_id']}}" method="post">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"><b>Job Title</b></label>
                    <input type="text" class="form-control" value="{{job_details['job_title']}}" name="job_title" placeholder="Job Title" required>
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Mode of Work</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="mode_of_work" value="Remote" id="remote_job" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Remote
                        </label>
                      </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="mode_of_work" value="Onsite" id="onsite_job">
                        <label class="form-check-label" for="flexRadioDefault2">
                          Onsite
                        </label>
                      </div>
              
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"><b>Job Type</b></label>
                    <select class="form-select" aria-label="Default select example" name="job_type" id="job_type">
                        <option value="Part Time">Part Time</option>
                        <option value="Full Time">Full Time</option>
                        <option value="Internship">Internship</option>
                        <option value="Contract">Contract</option>
                    </select>
                </div>
                <div class="mb-3" id="job_location_div" style="display: none;">
                    <label for="exampleFormControlInput1" class="form-label"><b>Job Location</b></label>
                    <input type="text" class="form-control" value="{{job_details['job_location']}}" name="job_location" placeholder="Job Location">
                  </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"><b>Salary Range</b></label>
                    <input type="text" class="form-control" value="{{job_details['salary_range']}}" name="salary_range" placeholder="Salary Range" required>
                  </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"><b>Job Description</b></label>
                    <textarea type="text" class="form-control"  name="job_description" placeholder="Job Description" rows="7" >{{job_details['job_description']}}</textarea>
                  </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label"><b>Topics</b></label>
                    <textarea type="text" class="form-control" name="job_topics" placeholder="Job Topics (#Hashtags)" >{{job_details['job_topics']}}</textarea>
                  </div>
                  <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label"><b>Status of Job</b></label>
                      <select class="form-select" aria-label="Default select example" name="status">
                          {% if job_details['status'] == "draft" %}
                          <option value="draft" selected>Draft</option>
                          <option value="published" >Published</option>
                          {% elif job_details['status'] == "published" %}
                          <option value="published" selected>Published</option>
                          <option value="draft" >Draft</option>
          
                          {% endif %}
          
                      </select>
                  </div>
          
                  <button class="btn btn-primary" type="submit">SAVE</button>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- -------- END HEADER 8 w/ card over right bg image ------- -->

  <!--   Core JS Files   -->
  <script>
    const remote_job = document.getElementById('remote_job');
  const onsite_job = document.getElementById('onsite_job');
  const job_location_div = document.getElementById("job_location_div")
  // Add event listener to each radio button
  remote_job.addEventListener('change', function() {
    job_location_div.style.display = "none"
  });

  onsite_job.addEventListener('change', function() {
    job_location_div.style.display = "block"
  });
</script>
<script>
    document.getElementById("job_type").value = "{{job_details['job_type']}}"
</script>
  <script src="{{url_for('static', filename='assets/js/core/popper.min.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static', filename='assets/js/core/bootstrap.min.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static', filename='assets/js/plugins/perfect-scrollbar.min.js')}}"></script>
  <!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
  <script src="{{url_for('static', filename='assets/js/plugins/parallax.min.js')}}"></script>
  <!-- Control Center for Soft UI Kit: parallax effects, scripts for the example pages etc -->
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
  <script src="{{url_for('static', filename='assets/js/soft-design-system.min.js')}}" type="text/javascript"></script>
</body>

</html>